.btn {
  padding: 10px;
  width: 83px;
  outline: none;
  border: none;
  background: rgb(255, 132, 0);
  border-radius: 25px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
